.board
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color #ffffff
.board canvas
  position fixed
  top 0
  left 0
  width 100%
  height 100%
.board>.board-menu
  position fixed
  top 0 
  bottom 0
  right 0
  width 300px
  background-color #fafafa
.choose-color
  background #dedede
  border 1px solid #d4d4d4
  border-top 0
  border-right 0
  background #DBDBDB
  background linear-gradient(to top, #EAEAEA, #F2F2F2) 
.choose-color input[type='color']
  width 36px
  height 36px
  border 2px solid #fafafa
  padding 0
  background none
  border-radius 6px
  outline none
  border:0
.choose-color span
  vertical-align super
  color #666
  margin-left 15px
  font-size 12px
.choose-size
  margin 10px 0
.choose-shape,.choose-operate
  display: flex
  padding: 2px 6px
  height 40px
  margin-bottom: 15px
.choose-shape>span,.choose-operate>span
    flex: 1 1 25%
    height 100%
    display inline-block
    border 1px solid #d4d4d4
    border-radius: 3px
    margin: 0 2px
    text-align: center
    line-height: 36px
    color: #666666
.choose-load,.choose-new
  height 36px
  overflow hidden
  padding:0 6px
  display flex
.choose-load>span,.choose-new>span
  color: #ffffff
  border-radius: 4px
  display block
  margin-right: 5px
  display: flex 
  align-items: center
  border 1px solid #d4d4d4
.choose-load>span>i,.choose-new>span>i
  display: inline-block
  width: 36px
  height 36px
  background: rgba(0,0,0,0.05)
  margin-right: 6px
  text-align: center
  line-height: 36px
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
.choose-load>span:first-child
  background-color: #04a400 
  width 90px
.choose-load>span:last-child
  background-color: #5db2ff
  width 120px
.img-show
  margin: 15px 6px
  border: 1px solid 
  border-color: #dcdcdc
  // width: 100%
  height: 120px
.choose-new>span:first-child
  color #333
  background-color: #fafafa 
  width 90px
.choose-new>span:last-child
  color #333
  background-color: #fafafa
  width 120px