//  夜间主题 背景色和字体自定义规范
$color-theme = #143f6d
$header-bg = #143f6d
$header-c = #fff
$btn-bg = #2e6094
$btn-bg-hover = #3870ab
$btn-logout-c = #d73d32
$btn-skin-c =#fff
$box-shadow-c = #fafafa
$box-shadow-c-d = #d4d4d4
// thisday-header
$bg-d = #3b75b3
$bg-liner-s = #3b75b3
$bg-liner-e = #0d5477
$kph-c = #fff;
$kph-text-shadow-c = #143f6d
$li-bg-first = #ffffff
$li-bg-second = #e1e9e9
$li-c = #333333
$li-name-c = #ffffff
$li-name-bg = #3b75b3
$li-count-c = orange
$li-mydata-c = #d73d32
$border-c = #d4d4d4
// thisday kpfooetr
$f-c = #666666
$f-bg = #ffffff
$f-text-shadow = #e1e9e9
$f-li-hover = #eeeeee
$f-li-active-bg = #45aee0
$f-li-active-c = #fff
