@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u6uytx');
  src:  url('fonts/icomoon.eot?u6uytx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u6uytx') format('truetype'),
    url('fonts/icomoon.woff?u6uytx') format('woff'),
    url('fonts/icomoon.svg?u6uytx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emptybed:before {
  content: "\e900";
}
.icon-icon_bed:before {
  content: "\e901";
}
.icon-icon_borrow:before {
  content: "\e902";
}
.icon-icon_call:before {
  content: "\e903";
}
.icon-icon_chg:before {
  content: "\e904";
}
.icon-icon_choose:before {
  content: "\e905";
}
.icon-icon_close:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-uniE908:before {
  content: "\e908";
}
.icon-uniE909:before {
  content: "\e909";
}
.icon-uniE90A:before {
  content: "\e90a";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-uniE90C:before {
  content: "\e90c";
}
.icon-uniE90D:before {
  content: "\e90d";
}
.icon-uniE90E:before {
  content: "\e90e";
}
.icon-icon_doctor:before {
  content: "\e90f";
}
.icon-icon_important:before {
  content: "\e910";
}
.icon-icon_lb:before {
  content: "\e911";
}
.icon-icon_list:before {
  content: "\e912";
}
.icon-uniE913:before {
  content: "\e913";
}
.icon-uniE914:before {
  content: "\e914";
}
.icon-uniE915:before {
  content: "\e915";
}
.icon-uniE916:before {
  content: "\e916";
}
.icon-uniE917:before {
  content: "\e917";
}
.icon-uniE918:before {
  content: "\e918";
}
.icon-uniE919:before {
  content: "\e919";
}
.icon-icon_open:before {
  content: "\e91a";
}
.icon-icon_page_close:before {
  content: "\e91b";
}
.icon-icon_plus:before {
  content: "\e91c";
}
.icon-icon_shezhi:before {
  content: "\e91d";
}
.icon-uniE91E:before {
  content: "\e91e";
}
.icon-uniE91F:before {
  content: "\e91f";
}
.icon-uniE920:before {
  content: "\e920";
}
.icon-uniE921:before {
  content: "\e921";
}
.icon-uniE922:before {
  content: "\e922";
}
.icon-uniE923:before {
  content: "\e923";
}
.icon-uniE924:before {
  content: "\e924";
}
.icon-icon_time:before {
  content: "\e925";
}
.icon-icon_time_off:before {
  content: "\e926";
}
.icon-icon_txt:before {
  content: "\e927";
}
.icon-icon_xthl:before {
  content: "\e928";
}
.icon-icon_yh:before {
  content: "\e929";
}
.icon-icon1_nav:before {
  content: "\e92a";
}
.icon-uniE92B:before {
  content: "\e92b";
}
.icon-uniE92C:before {
  content: "\e92c";
}
.icon-uniE92D:before {
  content: "\e92d";
}
.icon-uniE92E:before {
  content: "\e92e";
}
.icon-uniE92F:before {
  content: "\e92f";
}
.icon-uniE930:before {
  content: "\e930";
}
.icon-uniE931:before {
  content: "\e931";
}
.icon-uniE932:before {
  content: "\e932";
}
.icon-uniE933:before {
  content: "\e933";
}
.icon-menu_bqpb:before {
  content: "\e934";
}
.icon-menu_bqyl:before {
  content: "\e935";
}
.icon-menu_head:before {
  content: "\e936";
}
.icon-menu_hsjb:before {
  content: "\e937";
}
.icon-menu_hsxj:before {
  content: "\e938";
}
.icon-menu_main:before {
  content: "\e939";
}
.icon-menu_pannel:before {
  content: "\e93a";
}
.icon-uniE93B:before {
  content: "\e93b";
}
.icon-uniE93C:before {
  content: "\e93c";
}
.icon-uniE93D:before {
  content: "\e93d";
}
.icon-uniE93E:before {
  content: "\e93e";
}
.icon-uniE93F:before {
  content: "\e93f";
}
.icon-uniE940:before {
  content: "\e940";
}
.icon-menu_zryh:before {
  content: "\e941";
}
.icon-nav_btn:before {
  content: "\e942";
}
.icon-page1:before {
  content: "\e943";
}
.icon-ppt:before {
  content: "\e944";
}
.icon-txt:before {
  content: "\e945";
}
.icon-video:before {
  content: "\e946";
}
.icon-word:before {
  content: "\e947";
}
